

    <nav class="shadow bg-body rounded">
        <div class="logo">
            <img class="logo2" id = "logo2" src="img/Lightmode_logo.png">
        </div>
    
        <div class="sign_out">
            <a class="btn-dark btn btn-lg" href="/" role="button">
                <i class="fab fa-google"></i>
                SIGN OUT
            </a>
        </div>
        <div class="sign_out">
          <a class="btn-dark btn btn-lg" href="/video" role="button">
              <i class="fab fa-google"></i>
              DOWNLOAD
          </a>
      </div>
  
    
        <div class="button" class="btn-dark btn btn-lg meet" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a class="btn-dark btn btn-lg" href="/meet" role="button">
                <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-camera-video-fill meetlogo" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
                  </svg>
                  <i class="bi bi-camera-video-fill"></i>
                WATCH PARTY
            </a>
        </div>
    
        <div class="button" class="btn-dark btn btn-lg meet" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a class="btn-dark btn btn-lg" href="/livestream" role="button">
                <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-broadcast livelogo" viewBox="0 0 16 16">
                    <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                  </svg>
                  <i class="bi bi-broadcast"></i>
                LIVE STREAM
            </a>
        </div>
    
    
    </nav>

     <div id="carouselExampleIndicators" class="carousel slide carouselling" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="img/hp1.jpg" class="d-block w-20 imging" >
                  </div>
                  <div class="col">
                    <img src="img/hp2.jpg" class="d-block w-20 imging" >
                  </div>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="img/hp3.jpg" class="d-block w-20 imging" >
                  </div>
                  <div class="col">
                    <img src="img/hp4.jpg" class="d-block w-20 imging" >
                  </div>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="img/hp5.jpg" class="d-block w-20 imging" >
                  </div>
                  <div class="col">
                    <img src="img/hp6.jpg" class="d-block w-20 imging" >
                  </div>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="img/hp7.jpg" class="d-block w-20 imging" >
                  </div>
                  <div class="col">
                    <img src="img/hp8.jpg" class="d-block w-20 imging" >
                  </div>
                </div>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 




     